.main {
    height: 680px;

    background-color: #b1e2f347;
    background-image: url(../../assets/images/man-with-dog.png);
    background-repeat: no-repeat;
    background-position: 85% 0;
}

.description {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 8%;
    padding-top: 5%;
}

.description h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3em;
    font-family: var(--header-font-fam);
}

.description p {
    margin-top: 32px;
    margin-bottom: 0;
    font-size: 1.5em;
    font-family: var(--base-font-fam);
    color: var(--base-color);
}

.description button {
    display: flex;
    align-items: center;
    margin-top: 48px;
    height: 80px;
    padding: 18px 36px;
    cursor: pointer;
    font-size: 1.2em;
    font-family: 'Alegreya', serif;

    color: #FFF;
    background-color: var(--button-bg);
    border: none;
    border-radius: 5px;
}

.description button:hover {
    transform: scale(1.1);
    font-size: 1.3em;
}

.description button::after {
    margin-left: 12px;
    margin-top: 4px;
    content: url(../../assets/images/arrow.svg);
}