:root {
  --white-color: #fff;
}

@media (min-width: 320px) and (max-width: 1020px) {
  .main {
    margin-top: 50px;
    height: auto;
    background-image: none;
  }

  .description h2 {
    font-size: 1.6rem;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .main {
    background-image: url(../../assets/images/man-with-dog.png);
  }

  .description h2 {
    font-size: 3em;
  }
}

@media (min-width: 1220px) and (max-width: 2560px) {
  .main {
    height: 680px;
    background-image: url(../../assets/images/man-with-dog.png);
  }

  .description h2 {
    font-size: 3em;
  }
}

.main {
  background-color: #b1e2f347;
  background-repeat: no-repeat;
  background-position: 85% 0;
}

.main a {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 10%;
}

.description {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 8%;
  padding-top: 5%;
}

.description h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--header-font-fam);
}

.description p {
  margin-top: 32px;
  margin-bottom: 0;
  font-size: 1.3em;
  font-family: var(--base-font-fam);
  color: var(--base-color);
}

.main .description .link {
  margin-top: 5%;
}
