:root {
    --base-font-fam: 'Rubik', sans-serif;
    --header-font-fam: 'Pangolin', cursive;
    --base-color-p: #979697;
    --border-color: #124C5F;
    --button-color: #124C5F;
}

.main {
    height: 800px;
}

.main .header {
    margin-left: 12%;
    font-family: var(--header-font-fam);
    font-size: 1.2rem;
}

.main .header::after {
    display: block;
    content: url(../../assets/images/underline.svg);
    margin-top: -2%;
}

.main .discount {
    margin-top: 3%;
    margin-left: 12%;
    font-family: var(--header-font-fam);
    font-size: 2.5rem;
}

.main .discount span {
    font-family: 'Alegreya', serif;
    font-weight: bold; 
}

.main button {
    display: flex;
    align-items: center;
    width: 200px;
    height: 60px;
    margin-left: 70%;
    margin-top: -4%;
    padding-left: 50px;
    cursor: pointer;
    font-size: 1.2em;
    font-family: 'Alegreya', serif;
    
    color: #FFF;
    background-color: var(--button-bg);
    border: none;
    border-radius: 5px;
}

.main button::after {
    margin-left: 12px;
    margin-top: 4px;
    content: url(../../assets/images/arrow.svg);
}

.main button:hover {
    transform: scale(1.1);
    font-size: 1.3em;
}

.main .products nav  {
    display: flex;
    width: 85%;
    margin-top: 4%;
    margin-left: 7%;
    flex-direction: row;
    justify-content: space-around;
}
 
.main .products nav .card {
    width: 30%;
    height: 570px;
    font-family: var(--base-font-fam);
    font-size: 1.3rem;

    color: var(--base-color);
    background-image:  url(../../assets/images/food1.svg), url(../../assets/images/pink-background.svg);
    background-repeat: no-repeat;
    background-position: 30% 0, 0 52%;
}

.main .products nav .card:nth-child(2) {
    background-image: url(../../assets/images/food2.svg), url(../../assets/images/yellow-background.svg);
}

.main .products nav .card:nth-child(3) {
    background-image: url(../../assets/images/food3.svg), url(../../assets/images/blue-background.svg);
}

.main .products nav .card:nth-child(3) button{
    margin-top: 25px;
}

.main .products nav .card button {
    width: 190px;
    height: 55px;
    font-size: 22px;
    margin-left: 10%;
    cursor: pointer;

    color: var(--button-color);
    background-color: #FFF;
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

.main .products nav .card button:hover {
    font-size: 1.5rem;
}

.main .products nav .card a {
    display: block;
    margin-left: 10%;
    padding-top: 400px;
    font-size: 1.7rem;
    text-decoration: none;

    color: #000;
}

.main .products nav .card p {
    margin-top: 0;
    margin-left: 10%;
}

