:root {
  --base-font-fam: "Rubik", sans-serif;
  --header-font-fam: "Pangolin", cursive;
}

@media (min-width: 320px) and (max-width: 1020px) {
  .main {
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .main .products ul {
    flex-direction: column;
  }

  .main .discount .view {
    display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .main {
    height: 890px;
  }

  .main .products ul {
    flex-direction: row;
    height: 570px;
  }

  .main .discount .offer {
    margin-top: 3%;
  }

  .main .discount .view {
    display: flex;
  }
}

@media (min-width: 1220px) and (max-width: 2560px) {
  .main {
    height: 890px;
  }

  .main .products ul {
    flex-direction: row;
    align-items: stretch;
  }

  .main .discount .offer {
    margin-top: 3%;
  }

  .main .discount .view {
    display: flex;
  }
}

.main .header {
  margin-left: 12%;
  font-family: var(--header-font-fam);
  font-size: 1.2rem;
}

.main .header::after {
  display: block;
  content: url(../../assets/images/underline.svg);
  margin-top: -2%;
}

.main .discount {
  display: flex;
  flex-direction: row;
}

.main .discount .offer {
  margin-top: 3%;
  margin-left: 12%;
}

.main .discount .offer a {
  font-family: var(--header-font-fam);
  font-size: 2.5rem;
  text-decoration: none;

  color: #000;
}

.main .discount .offer span {
  font-family: "Alegreya", serif;
  font-weight: bold;
}

.main .discount .view {
  margin-top: 30px;
  margin-left: 30%;
}

.main .products ul {
  display: flex;
  width: 90%;
  padding: 0;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.main .products ul li:nth-child(1) {
  background-image: url(../../assets/images/pink-background.svg);
}

.main .products ul li:nth-child(2) {
  background-image: url(../../assets/images/yellow-background.svg);
}

.main .products ul li:nth-child(3) {
  background-image: url(../../assets/images/blue-background.svg);
}

.main .products ul li:nth-child(3) img {
  margin-top: -10px;
}
