.main button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  text-decoration: none;

  color: var(--white-color);
  background-color: var(--button-bg);
  border: none;
  border-radius: 5px;
}

.main button:hover {
  transform: scale(1.06);
}

.main button::after {
  margin-left: 12px;
  margin-top: 4px;
  content: url(../../../assets/images/arrow.svg);
}

