:root {
    --header-font-family: 'Alegreya', serif;
    --header-text-transform: uppercase;
    --header-font-weight: bold;
    --header-navigation-hover: #FFAA00;
    --button-sign-background: #124C5F;
    --button-register-background: #C7E7E1;
    --button-register-color: #124C5F;
}

.header {
    width: 95%;
    height: 104px;
    display: grid;
    grid-template-columns: 20% 50% 30%;
    margin-left: auto;
    margin-right: auto;
}

.header .logo div {
    margin-left: 30%;
    margin-top: 10%;
}

.header .navigation {
    margin-top: 6%;
}

.header .navigation a {
    width: 92px;
    height: 10px;
    margin-right: 8%;


    white-space: nowrap;
    font-family: var(--header-font-family);
    text-transform: var(--header-text-transform);
    font-weight: var(--header-font-weight);
    font-size: 100%;
    text-decoration: none;

    color: black;
}

.header .navigation a:hover {
  color: var(--header-navigation-hover);
}

.header .navigation a:last-child {
    margin-right: 3%;
}

.header .auth {
    display: flex;
    height: 104px;
    flex-direction: row;
}

.header .auth .sign {
    width: 35%;
    height: 50px;
    margin-top: 5%;
    cursor: pointer;

    font-family: var(--header-font-family);
    text-transform: var(--header-text-transform);
    font-weight: var(--header-font-weight);

    color: #FFFFFF;
    background: var(--button-sign-background);
    border: none;
    border-radius: 5px;
}


.header .auth .sign:hover, .header .auth .register:hover {
    text-decoration: underline;
}


.header .auth .register {
    width: 35%;
    height: 50px;
    margin-top: 5%;
    margin-left: 5%;
    cursor: pointer;

    font-family: var(--header-font-family);
    text-transform: var(--header-text-transform);
    font-weight: var(--header-font-weight);

    color: var(--button-register-color);
    background: var(--button-register-background);
    border: none;
    border-radius: 5px;
}