.main {
  width: 95%;
  height: 48em;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2em;

  background-image: url(../../assets/images/background.png);
  background-repeat: no-repeat;
}

.description {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    width: 35%;
    height: 35%;
    margin-left: 12%;
    padding-top: 8%;

    height: 352px;
}

.description h1 {
    margin: 5% 0;
    font-size: 3em;
    font-family: 'Pangolin', cursive;
}

.description p {
    margin-top: 3%;
    font-size: 1.5em;
    font-family: 'Roboto', serif;
    
    color: #181817;
}

.description button {
    width: 35%;
    height: 18%;
    margin-top: 5%;
    font-size: 1.2em;
    font-family: 'Alegreya', serif;

    color: #FFF;
    background-color: #124C5F;
    border: none;
    border-radius: 5px;
}

.description button:hover {
    transform: scale(1.1);
    font-size: 1.3em;
}

.description button::after {
    content: url(../../assets/images/arrow.png);
    margin-left: 5%;
}

