:root {
    --position-img: 50% 40%;
    --repeat-img: no-repeat;
}

.main {
  width: 95%;
  margin-left: auto;
  margin-right: auto;

  background-image: url(../../assets/images/background.png);
  background-repeat: no-repeat;
}

.relationship {
    display: flex;
}

.description {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 35%;
    height: 352px;
    margin-left: 12%;
    padding-top: 8%;
}

.description h1 {
    margin: 5% 0;
    font-size: 3em;
    font-family: 'Pangolin', cursive;
}

.description p {
    margin-top: 3%;
    font-size: 1.5em;
    font-family: 'Roboto', serif;
    
    color: #181817;
}

.description button {
    width: 35%;
    height: 80px;
    margin-top: 5%;
    cursor: pointer;
    font-size: 1.2em;
    font-family: 'Alegreya', serif;

    color: #FFF;
    background-color: #124C5F;
    border: none;
    border-radius: 5px;
}

.description button:hover {
    transform: scale(1.1);
    font-size: 1.3em;
}

.description button::after {
    content: url(../../assets/images/arrow.png);
    margin-left: 5%;
}

.services {
    display: flex;
    flex-direction: column;

}

.services .navContainer nav{
    display: flex;
    flex-direction: row;
}

.services .navContainer nav div {
    margin: 0 2%;
    width: 13%;
    height: 225px;
    cursor: pointer;

    background-color: #fff;
    border: 1px solid #98F2E1;
    border-radius: 25px;
    box-shadow: 0 0 10px #C7E7E1;
}

.services .navContainer nav div:hover {
    transform: scale(0.9);
}

.services .navContainer nav div:nth-child(2n) {
    border: 1px solid #FFEE94;
  }

.services .navContainer nav div a {
    display: block;
    margin-top: 80%;
    font-size: 1.5em;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;

    color: #000;
}

.services .header {
    margin-bottom: 3%;
    margin-left: 8%;
    text-align: left;
}

.services .header::after {
    display: block;
    margin-top: -2%;
    content: url(../../assets/images/line-under-services.png);
}

.services .header h1 {
    font-size: 1.7em;
    font-family: 'Pangolin', cursive;
}

.services .navContainer nav .grooming {
    margin-left: 8%;
    background-image: url(../../assets/images/grooming.svg);
    background-repeat: var(--repeat-img);
    background-position: var(--position-img);
}

.services .navContainer nav .healthcare {
    background-image: url(../../assets/images/healthcare.svg), linear-gradient(#FFEE94, #FFF 80%);
    background-repeat: var(--repeat-img);
    background-position: var(--position-img);
}

.services .navContainer nav .daycare {
    background-image: url(../../assets/images/daycare.svg);
    background-repeat: var(--repeat-img);
    background-position: var(--position-img);
}

.services .navContainer nav .training {
    background-image: url(../../assets/images/training.svg), linear-gradient(#FFEE94, #FFF 80%);
    background-repeat: var(--repeat-img);
    background-position: var(--position-img);
}

.services .navContainer nav .hyginic {
    background-image: url(../../assets/images/hyginic-care.svg);
    background-repeat: var(--repeat-img);
    background-position: var(--position-img);
}