:root {
  --header-font-fam: "Pangolin", cursive;
  --base-font-fam: "Roboto", serif;
  --base-color: #4e4c46;
  --button-bg: #124c5f;
  --link-font-fam: "Rubik", sans-serif;
  --button-font-fam: "Alegreya", serif;
}

@media (min-width: 315px) and (max-width: 1000px) {
  .learn {
    display: none;
    background-image: none;
  }

  .description {
    margin-left: auto;
    margin-right: auto;
  }

  .description h1 {
    font-size: 1.6rem;
  }

  .description .link {
    margin-left: auto;
    margin-right: auto;
  }

  .main {
    height: auto;
  }
}

@media (min-width: 1020px) and (max-width: 1200px) {
  .learn {
    background-image: url(../../assets/images/food.svg), url(../../assets/images/dog2.png);
  }

  .description {
    padding-top: 7%;
  }

  .description h1 {
    font-size: 3rem;
  }

  .main {
    height: 700px;
  }
}

@media (min-width: 1220px) and (max-width: 2560px) {
  .learn {
    background-image: url(../../assets/images/food.svg), url(../../assets/images/dog2.png);
  }

  .description {
    padding-top: 7%;
  }

  .main {
    height: 700px;
  }

  .description h1 {
    font-size: 3rem;
  }
}

.main {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.description {
  background-image: url(../../assets/images/paw.svg);
  background-repeat: no-repeat;
  background-position: right top;
}

.description .link {
  margin-right: 70%;
  margin-left: 20px;
  margin-top: 5%;
}

.description h1 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--header-font-fam);
}

.description p {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 32px;
  margin-bottom: 0;
  font-size: 1.3rem;
  font-family: var(--base-font-fam);
  color: var(--base-color);
}

.learn {
  width: 50%;
  background-position: 65% 85%;
  background-repeat: no-repeat;
}

.learn div {
  height: 160px;
  width: 180px;
  padding-top: 25px;
  padding-left: 35px;
  margin-left: 63%;
  margin-top: 10%;
  cursor: pointer;

  background-image: url(../../assets/images/backgroundbutton.svg);
  background-repeat: no-repeat;
}

.learn div a {
  font-size: 1rem;
  font-family: var(--link-font-fam);
  text-decoration: none;

  color: #fff;
}

.learn div a::before {
  display: block;
  content: url(../../assets/images/playbutton.svg);
  padding-bottom: 10px;
  padding-left: 15px;
}

.learn div:hover {
  transform: rotate(5deg);
}
