* {
  box-sizing: border-box;
}

@media (min-width: 300px) and (max-width: 500px) {
  .App {
    width: 100%;
  }
}

@media (min-width: 1025px) and (max-width: 12450px) {
  .App {
    width: 95%;
  }
}

.App {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}
