.main {
  height: 800px;
  margin-top: 20px;
  background-color: aliceblue;
}

.main .header {
  margin-left: 10%;
  font-family: var(--header-font-fam);
  font-size: 1.3rem;
}

.main .header::after {
  display: block;
  content: url(../../assets/images/underline.svg);
  margin-top: -2%;
}

.main ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main ul li {
  list-style-type: none;
}

.main ul li .card {
  height: 400px;
  width: 360px;
}


