@media (min-width: 320px) and (max-width: 1020px) {
  .main {
    height: auto;
  }

  .main a {
    margin-bottom: 20px;
  }

  .main .cards {
    flex-direction: column;
    width: 100%;
    max-width: 360px;
    padding-left: 0;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .main {
    height: 800px;
  }

  .main .cards {
    width: 85%;
    flex-direction: row;
  }
}

@media (min-width: 1220px) and (max-width: 2560px) {
  .main .cards {
    width: 85%;
    flex-direction: row;
  }
}

.main .header {
  margin-left: 10%;
  font-family: var(--header-font-fam);
  font-size: 1.3rem;
}

.main .header::after {
  display: block;
  content: url(../../assets/images/underline.svg);
  margin-top: -2%;
}

.main .cards {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.main .cards li .yellowBackground {
  background-image: url(../../assets/images/rect-yellow-bg.svg);
  background-size: 100% 100%;
}

.main .cards li .pinkBackground {
  background-image: url(../../assets/images/rect-pink-bg.svg);
  background-size: 100% 100%;
}

.main .cards li .violetBackground {
  background-image: url(../../assets/images/rect-blue-bg.svg);
  background-size: 100% 100%;
}
